* {
    box-sizing: border-box;
}


body {

    margin: 0;
    background-color: azure;


}

header {
    text-align: center;
    outline: 1px solid black;
    background-color: white;
    padding: 1.5rem;
    font-size: 1.5rem;
    justify-content: space-between;






}

a {
    text-decoration: none;
    color: black;

}

footer {

    text-align: center;
    font: ;
    outline: 1px solid black;
    background-color: white;
}
