* {
    box-sizing: border-box;
}

/*
html {

    height: 100%;

}
*/

body {
    padding: 0;
    margin: 0;
    background-color: azure;


    background-image: url(forside3.png);
    background-size: cover;

    width: 100%;
    height: 100vh;
    background-position: 25% 10%;
    max-width: none;



}

.row {

    display: flex;
    height: 88%;
    align-items: center;
    margin-left: 3rem;



}

.col {
    flex-basis: 50%;

}

h1 {

    color: black;
    font-size: 3rem;
    margin-top: -18rem;


}

h2 {
    color: black;
    font-size: 1.8rem;
    line-height: 2rem;
}

.pics {
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
    position: relative;
    right: -5rem;
}


.tema2 {
    background-image: url(nav_tema2.png);
}

.tema3 {
    background-image: url(nav_ux.png);
}

.tema4 {

    background-image: url(nav_spil.png);
}

.tema5 {
    background-image: url(nav_tema5.png);
}


.pics: hover {
    transform: translateY(-10px);
}

.row a {

    font-size: 1rem;

    color: black;
    text-align: center;
    padding: 10px;
    margin: 10px;
}

button {

    font-family: monospace;
    color: black;
    background-color: white;
    padding: 4px;
    font-size: 0.2rem;
    outline: none;

    border-radius: 6px;

}

/*
.spray_container {
    position: absolute;
    top: 15rem;
    left: 15rem;



}

.spray_sprite {
    background-image: url(SVG/fresh_spray.svg);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    width: 9rem;
    height: 29rem;

}
*/

/*
.baggrund {
    position: absolute;
    margin: 0;
    background-image: url(forsideudenspray.png);
    background-size: cover;

    width: 100%;
    height: 100vh;
    background-size: cover;
     background-position: 25% 10%;
      max-width: none;



}
*/

/*
.liste_links {
    position: fixed;
    font-size: 1.2rem;
    top: 24.5rem;
    left: 11.4rem;


    right: 20vw;
    bottom: 20vw;

}
*/

/*
.liste_links ul {
    position: absolute;
    font-size: 1.2rem;
    top: 66vw;
    left: 25.4vw;


}
*/



/*
body {
    position: absolute;
    margin: 0;
    background-image: url(forside2.svg);

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vw;
    background-position: 25% 10%;





}
*/

h3 {

    font-size: 1rem;
}


/*
.produkt_container {
    position: relative;

    top: 10vw;
    left: 10vw;
}
*/

/*
.pumpe_sprite {
    position: relative;
    top: 23vw;
    left: 0vw;
    background-image: url(SVG/fresh_pumpe_hvid_1.svg);
    background-repeat: no-repeat;
    height: 20vw;
    width: 10vw;
}

.spray_sprite {
    position: relative;
    top: -2vw;
    left: 9vw;
    background-image: url(SVG/fresh_spray.svg);
    background-repeat: no-repeat;
    height: 22vw;
    width: 8vw;
}

.cremer_sprite {
    position: relative;
    top: -10vw;
    left: 9vw;
    background-image: url(SVG/cremer.svg);
    background-repeat: no-repeat;
    height: 12vw;
    width: 13vw;
}


.lamer_sprite {
    position: relative;
    top: -31vw;
    left: 17vw;
    background-image: url(SVG/lamer.svg);
    background-repeat: no-repeat;
    height: 19vw;
    width: 10vw;
}

.glossier_sprite {
    position: relative;
    top: -43vw;
    left: -23vw;
    background-image: url(SVG/glossier.svg);
    background-repeat: no-repeat;
    height: 14vw;
    width: 7vw;

}
*/

/*
.om_mig {
    position: relative;
    top: 2rem;
    left: 2rem;
}
*/

a {
    text-decoration: none;
    color: black;
    font-size: 1rem;

}

/*
.pumpe_container {
    position: relative;
    top: 45rem;
    left: 0rem;
}
*/

/*
.om_mig {

    position: relative;
    top: 12rem;
    left: 3rem;
}
*/

/*
.pumpe_sprite {

    background-image: url(SVG/fresh_pumpe_hvid_1.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 10rem;
    height: 21rem;

}
*/

/*
.spray_container {

    position: relative;
    top: 18rem;
    left: 9rem;
}

.spray_sprite {
    background-image: url(SVG/fresh_spray.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 7rem;
    height: 23rem;
}
*/

/*
.tema_2 {

    position: relative;
    top: 12rem;
    left: 2rem;
}
*/

/*
.cremer_container {

    position: relative;
    top: 9rem;
    left: 8rem;
}

.cremer_sprite {
    background-image: url(SVG/cremer.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 10rem;
    height: 15rem;
}

.forside {
    position: relative;
    top: ;
    left: ;
}

.lamer_container {
    position: relative;
    top: -10rem;
    left: 18rem;
}

.lamer_sprite {
    background-image: url(SVG/lamer.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 5.5rem;
    height: 16rem;

}
*/


/*
.glossier_container {

    position: relative;

    top: -20rem;
    left: 23rem;

}
*/

/*
.glossier_sprite {
    background-image: url(SVG/glossier.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 4rem;
    height: 12rem;
    top: -20rem;
    left: 23rem;
    position: relative;
}

.produkt_container {
    position: relative;
    bottom: 26rem;
}
*/



/*@media screen and (max-width: 500px)

@media screen and (min-width: 600px) {

    h3 {

        font-size: 1.2rem;
    }
}

/*
.forside {

    background-image: url(forside.png);
    background-size: cover;
    background-repeat: no-repeat;
}
*/

img {
    width: 100%;
    /*    height: 100%;*/



}

/*
h1 {
    position: relative;
    top: 2rem;
    left: 2rem;
    font-size: 3rem;

}*/


/*
h1 {
    width: 100%;
}
*/

/*
.p {
    position: relative;
    top: 0rem;
    left: 2rem;
    font-size: 3rem;
}

.o {
    position: relative;
    font-size: 3rem;
    top: -6rem;
    left: 4rem;

}

.r {
    position: relative;
    font-size: 3rem;
    top: -13rem;
    left: 6rem;
}

.t {
    position: relative;
    font-size: 3rem;
    top: -19rem;
    left: 8rem;

}

.f {

    position: relative;
    font-size: 3rem;
    top: -26rem;
    left: 10rem;
}

.o2 {
    position: relative;
    font-size: 3rem;
    top: -32rem;
    left: 12rem;
}

.l {
    position: relative;
    font-size: 3rem;
    top: -39rem;
    left: 14rem;
}

.i {
    position: relative;
    font-size: 3rem;
    top: -45rem;
    left: 16rem;
}


.o3 {
    position: relative;
    font-size: 3rem;
    top: -52rem;
    left: 18rem;
}
*/

/*
h2 {
    position: relative;
    top: -50rem;
    left: 22rem;
    width: 100%;

}
*/

/*
@media screen and (max-width: 400px) {

    h1 {
        position: relative;
        left: 2rem;
    }

    h2 {}
}
*/
