* {
    box-sizing: border-box;
}


body {

    margin: 0;
    /*
    background-image: url(forside.png);
    background-size: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
*/
}



img {
    width: 100%;
    height: 100%;



}

h1 {
    position: relative;
    top: 2rem;
    left: 2rem;
    font-size: 3rem;

}
