* {
    box-sizing: border-box;
}

/*
html {

    height: 100%;

}
*/

body {
    padding: 0;
    margin: 0;
    background-color: azure;


    background-image: url(forside3.png);
    background-size: cover;

    width: 100%;
    height: 100vh;
    background-position: 25% 10%;
    max-width: none;



}

/*
font-family: 'Old Standard TT', serif;
font-family: 'Prata', serif;
font-family: 'Staatliches', cursive;
font-family: 'Vidaloka', serif;
font-family: 'Volkhov', serif;
*/


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: black;
    outline: 1px solid black;
    font-family: 'Volkhov', serif;

}

.brand-title {
    font-size: 1.5rem;
    margin: .5rem;
    font-family: 'Volkhov', serif;

}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
    font-family: 'Volkhov', serif;

}

.navbar-links li {
    list-style: none;
    font-family: 'Volkhov', serif;
}

.navbar-links li a {
    text-decoration: none;
    color: black;
    padding: 1rem;
    display: block;
    font-family: 'Volkhov', serif;
}

.navbar-links li:hover {

    background-color: #CE6464;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
}

@media (max-width: 600px) {

    .toggle-button {
        display: flex;
    }


    .navbar-links {
        display: none;
        width: 100%;
    }


    .navbar {

        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links ul {

        width: 100%;
        flex-direction: column;
    }

    .navbar-links li {
        text-align: center;
    }

    .navbar-links li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
}


/*
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: black;
}

.portfolio {

    font-size: 1.5rem;
    margin: .5rem;
}

.navbar_list ul {
    margin: 0;
    padding: 0;
    display: flex;

}

.navbar_list li {

    list-style: none;

}

.navbar_list li a {
    text-decoration: none;
    padding: 1rem;
    display: block;
}

.navbar_list li:hover {
    background-color: #CE6464;
}

.toggle_button {

    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle_button bar {
    height: 3px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
}

@media (max-width:400px) {
    .toggle_button {
        display: flex;
    }


    .navbar_list {
        display: none;
    }


    .navbar {
        flex-direction: column;


        align-items: flex-start;
    }

    .navbar_list ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar_list li {
        text-align: center;
    }
}
*/

/*
.nav_bar {
    height: 12%;
    display: flex;
    align-items: center;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}

nav {
    flex: 1;
    text-align: right;
    margin-right: 3rem;
    margin-top: 5rem;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 60px;
}

nav ul li a {
    text-decoration: none;
    font-size: 2rem;
}*/

.row {

    display: flex;
    height: 88%;
    align-items: center;
    margin-left: 3rem;



}

.col {
    flex-basis: 50%;
    position: relative;
    top: -14rem;
    left: 2rem;

}

h1 {

    color: black;
    font-size: 3rem;
    font-family: 'Staatliches', cursive;




}

h2 {
    color: black;
    font-size: 1.8rem;
    line-height: 2rem;
    font-family: 'Vidaloka', serif;
    font-family: 'Staatliches', cursive;
    /*    font-family: 'Old Standard TT', serif;*/
}

/*
.pics {
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
    position: relative;
    right: -5rem;
}
*/

/*
.tema2 {
    background-image: url(nav_tema2.png);
}

.tema3 {
    background-image: url(nav_ux.png);
}

.tema4 {

    background-image: url(nav_spil.png);
}

.tema5 {
    background-image: url(nav_tema5.png);
}


.pics: hover {
    transform: translateY(-10px);
}*/

.row a {

    font-size: 1rem;

    color: black;
    text-align: center;
    padding: 10px;
    margin: 10px;
}

/*
button {

    font-family: monospace;
    color: black;
    background-color: white;
    padding: 4px;
    font-size: 0.2rem;
    outline: none;

    border-radius: 6px;

}
*/

/*
@media screen and (max-width: 300px) {

    width: 0px;
    height: 0px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
    position: relative;
    right: -5rem;

    button {

        font-family: monospace;
        color: black;
        background-color: white;
        padding: 1px;

        outline: none;

        border-radius: 1px;

    }
}
*/

/*
@media screen and (min-width: 600px) {
    .pics {
        width: 140px;
        height: 170px;
        display: inline-block;
        border-radius: 10px;
        padding: 15px 25px;
        box-sizing: border-box;
        cursor: pointer;
        margin: 10px 15px;
        background-position: center;
        background-size: cover;
        transition: transform 0.5s;
        position: relative;
        right: -5rem;
    }

}
*/

/*
@media screen and (min-width: 800px)
    .pics {
        width: 200px;
        height: 230px;
        display: inline-block;
        border-radius: 10px;
        padding: 15px 25px;
        box-sizing: border-box;
        cursor: pointer;
        margin: 10px 15px;
        background-position: center;
        background-size: cover;
        transition: transform 0.5s;
        position: relative;
        right: -5rem;
    }
*/

/*
    button {

        font-family: monospace;
        color: black;
        background-color: white;
        padding: 4px;
        font-size: 0.2rem;
        outline: none;

        border-radius: 6px;

    }
*/


/*
@media screen and (min-width: 1000px)
    .pics {
        width: 200px;
        height: 230px;
        display: inline-block;
        border-radius: 10px;
        padding: 15px 25px;
        box-sizing: border-box;
        cursor: pointer;
        margin: 10px 15px;
        background-position: center;
        background-size: cover;
        transition: transform 0.5s;
        position: relative;
        right: -5rem;
    }
*/

/*
    button {

        font-family: monospace;
        color: black;
        background-color: white;
        padding: 4px;
        font-size: 0.2rem;
        outline: none;

        border-radius: 6px;

    }
*/




h3 {

    font-size: 1rem;
}




a {
    text-decoration: none;
    color: black;
}




img {
    width: 100%;
    /*    height: 100%;*/



}
