* {
    box-sizing: border-box;
}

body {

    margin: 0;
    background-color: azure;


}

img {
    width: 100%;


}

h2 {
    outline: 1px solid black;
    background-color: white;
    margin: 20px;
    text-align: center;
    /*
    font-family: 'Crimson Text',
    serif;
*/
}

h3 {
    outline: 1px solid black;
    background-color: white;
    margin: 20px;
    text-align: center;
    /*
    font-family: 'Cormorant Garamond',
        serif;
*/
}

p {
    /*
    outline: 1px solid black;
    background-color: white;
*/
    /*
    font-family: 'Cormorant Garamond',
        serif;
*/

    /*
    font-family: 'Bodoni Moda',
        serif;
*/
    /*
    font-family: 'Bodoni Moda',
    serif;
    font-family: 'Cormorant Garamond',
    serif;
    font-family: 'Crimson Text',
    serif;
*/
}
